# Node.js dependencies
node_modules/

# Ignore the .cache directory used for storing temporary files and build cache.
# This directory is generated automatically by build tools (like Parcel, Gatsby, etc.)
# and does not need to be version controlled.
.cache/

# Build output
dist/

#.DS_Store 是一种隐藏文件，由 macOS 在目录中自动生成。
#它用于存储该目录的自定义属性，如文件的图标位置、窗口的显示选项（如视图模式、窗口大小等）以及其他与目录视图相关的元数据。
#不应该被添加到 Git 仓库中，也不需要被保存或共享给其他开发者。不应该被添加到 Git 仓库中，也不需要被保存或共享给其他开发者。
.DS_Store